
            <nav class="border-bottom fixed-bottom">
                <p class="pull-right text-white"><i class="fa fa-copyright" aria-hidden="true"></i>
                    All rights reserved by <a class="text-white" href="https://www.linkedin.com/in/tristankrass/"> Tristan Krass</a>
                    <a href="https://www.instagram.com/tristankrass/"><i class=" text-white fa fa-camera-retro m-3" aria-hidden="true"></i></a>
                </p>
        </nav>
    </body>
</html>

